apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  namespace: backend-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: backend-devops:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        envFrom:
          - configMapRef:
              name: backend-config
          - secretRef:
              name: backend-secret
